<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div class="jumbotron">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-info"%> 
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary"%>

  <%= button_to "Destroy this friend", @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
</div>

